/Makefile
/Makefile.in
/autom4te.cache
/config.h.in
/config.h
/config.status
/configure
aclocal.m4
.deps
.dirstamp
stamp-h1
*.o
*.a
tags
.tags*
/htpasswd
/htdigest
/dummy_tests
/htpmt_encryption
/htpmt_salt
/libmd_tests
*.log
*.trs
version.h
version-openssl.h
version-openssl.h.tmp
/htpmt-*.tar.*
